body {
    background-color: antiquewhite;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    margin-top: 50%;
    text-align: center;
}
.container img {
    max-width:100% ;
    height: auto;
    display: block;
    margin: 10px 0;
}
